.bg-gray-100 {
  background: $gray-100;
}

.bg-gray-200 {
  background: $gray-200;
}

.bg-gray-300 {
  background: $gray-300;
}

.bg-gray-400 {
  background: $gray-400;
}

.bg-gray-500 {
  background: $gray-500;
}

.bg-gray-600 {
  background: $gray-600;
}

.bg-gray-700 {
  background: $gray-700;
}

.bg-gray-800 {
  background: $gray-800;
}

.bg-gray-900 {
  background: $gray-900;
}

// extend
.bg-aqua {
	background: rgb(74, 184, 255);
}

.bg-turquoise {
	background: rgb(0, 209, 178);
}

.bg-yellow {
	background: rgb(255, 221, 87);
}

.bg-red {
	background: rgb(255, 56, 96);
}