.modal-content {
	.form-group-contact-search {
		.btn-search {
			position: absolute;
			top: 0;
			right: 0;
		}
	}

	.contact-cart-modal {
		max-height: 145px;
	}
}

.modal-delete {
	.modal-dialog {
		top: 15%;
	}
}